
main {
    .carousel {
        .carousel-inner {
            .carousel-item {
                .w-100 {
                    max-height: 70vh;
                }
            }
        }
    }

    .form-container {
        display: flex;
        padding: 15px;
        flex-wrap: wrap;
        justify-content: center;
        background-color: #dfdfcecc;

            .form-select {
                width: 45%;
                margin: 5px;
                &:hover {
                    background-color: bisque;
                  }
            }

            .form-price {
                width: 91.6%;
                margin: 10px;
            }

            .d-grid {
                .button-search {
                    margin-top: 13px;

                    &:hover {
                        box-shadow: 2px 2px rgba(0, 0, 0, 0.454);
                    }
                }
                .btn-primary {
                    background-color: #193724;
                    border-color: rgba(0, 0, 0, 0.689);
                    font-weight: bold;

                    &:hover {
                        background-color: #193724b8;
                    }

                    &:focus {
                        background-color: #dfdfcecc;
                        color: black;
                        border: 2px black solid;
                        font-weight: bolder;
                        font-size: large;
                    }
                }
        }
    }
}
